* {
    font-family: "Roboto Slab", serif;
}

body {
    margin: 0;
}

#FullyRawLogo {
    position: fixed;
    z-index: 100;
}

#FiveDayJuicing {
    width: 100%;
    z-index: -1;
}

#FixedBar {
    width: 100%;
    height: 90px;
    background-color: #ff590081;
    position: fixed;
    z-index: 40;
}

#Bar {
    display: flex;
    gap: 20px;
    font-size: small;
    color: white;
    margin-right: 30px;
    position: fixed;
    right: 40px;
    top: 30px;
    font-weight: bold;
    z-index: 100;
}

a {
    text-decoration: none;
    color: white;
}

#ProgramsNavImg {
    height: 630px;
    max-width: 100%;
}

.CoolOrange {
    color: #f26522;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 3px;
}

.CoolButton {
    background-color: rgb(255, 91, 0);
    border-radius: 10px;
    color: rgb(243, 243, 243);
    display: block;
    font-weight: 500;
    height: 71px;
    padding: 13px;
    transition: 0.3s;
    width: 323px;
    border: none;
    text-align: center;
    font-size: 22px;
}

.CoolButton:hover {
    background-color: #ff6600;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    display: block;
    font-weight: 500;
    height: 71px;
    padding: 13px;
    width: 323px;
    border: none;
    text-align: center;
    font-size: 22px;
}

#Flex0 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 392px;
    margin-right: 391px;
    gap: 30px;
    margin-bottom: 50px;   
}

#Flex0 img {
    position: relative;
    top: 710px;
    margin-top: -400px; 
}

#Flex0 img:nth-child(5) {
    position: relative;
    bottom: 400px;
}

#Flex0 img:nth-child(7) {
    position: relative;
    bottom: 400px;
}

#Flex0 img:nth-child(9) {
    position: relative;
    bottom: 800px;
}

#Flex0 img:nth-child(11) {
    position: relative;
    bottom: 800px;
}

#Flex0 center img {
    position: relative;
    bottom: 1200px;
}

#Flex0 button {
    display: inline;
    height: 50px;
    border: none;
    background-color: #ee1c25;
    padding: 13px;
    width: 200px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 900;
    transition: 0.3s;
}

#Flex0 button:hover {
    border: none;
    background-color: #ff6900;
    color: white;
}

#Flex0 button:nth-child(2) {
    display: inline;
    height: 50px;
    border: none;
    background-color: #ee1c25;
    padding: 13px;
    width: 200px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 900;
    transition: 0.3s;
    position: absolute;
    left: 600px;
    top: 1800px;
}

#Flex0 button:nth-child(4) {
    display: inline;
    height: 50px;
    border: none;
    background-color: #ee1c25;
    padding: 13px;
    width: 200px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 900;
    transition: 0.3s;
    position: absolute;
    left: 1150px;
    top: 1800px;
}

#Flex0 button:nth-child(6) {
    display: inline;
    height: 50px;
    border: none;
    background-color: #ee1c25;
    padding: 13px;
    width: 200px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 900;
    transition: 0.3s;
    position: absolute;
    left: 1150px;
    top: 2225px;
}

#Flex0 button:nth-child(8) {
    display: inline;
    height: 50px;
    border: none;
    background-color: #ee1c25;
    padding: 13px;
    width: 200px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 900;
    transition: 0.3s;
    position: absolute;
    left: 600px;
    top: 2225px;
}

#Flex0 button:nth-child(10) {
    display: inline;
    height: 50px;
    border: none;
    background-color: #ee1c25;
    padding: 13px;
    width: 200px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 900;
    transition: 0.3s;
    position: absolute;
    left: 600px;
    top: 2650px;
}

#Flex0 button:nth-child(12) {
    display: inline;
    height: 50px;
    border: none;
    background-color: #ee1c25;
    padding: 13px;
    width: 200px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 900;
    transition: 0.3s;
    position: absolute;
    left: 1150px;
    top: 2650px;
}

#Flex0 button:nth-child(14) {
    display: inline;
    height: 50px;
    border: none;
    background-color: #ee1c25;
    padding: 13px;
    width: 200px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 900;
    transition: 0.3s;
    position: absolute;
    left: 830px;
    top: 3075px;
}

.SmallImgs {
    width: 539px;
}

#LittleMoveImg {
    position: relative;
    left: 250px;
}

#CyanBackground {
    background-color: #1abc9c;
    padding: 25px;
    position: relative;
    top: -4px;
    padding-bottom: 80px;
}

#FESubmit1 {
    position: relative;
    top: 30px;
}




.EndBtns .FirstBtns2 button {
    border: 1px solid white;
    border-radius: 20px;
    padding: 18px;
    background-color: transparent;
    color: white;
    position: relative;
    left: 550px;
    top: -110px;
    transition: 0.3s;
}

.EndBtns .FirstBtns2 button:hover {
    border: 1px solid white;
    border-radius: 20px;
    padding: 18px;
    background-color: white;
    color: rgb(0, 0, 0);
    position: relative;
    left: 550px;
    top: -110px;
}

.EndBtns .FirstBtns1 button {
    border: 1px solid white;
    border-radius: 15px;
    width: 400px;
    padding: 7px;
    background-color: transparent;
    color: white;
    position: relative;
    left: 500px;
    top: -100px;
    transition: 0.3s;
}

.EndBtns .FirstBtns1 button:hover {
    border: 1px solid white;
    border-radius: 15px;
    width: 400px;
    padding: 7px;
    background-color: white;
    color: rgb(0, 0, 0);
    position: relative;
    left: 500px;
    top: -100px;
}

#LineFooter {
    width: 1px;
    height: 408px;
    background-color: white;
    position: relative;
    left: 10px;
    top: -300px;
}

#footerH1 {
    color: white;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -750px;
    left: -180px;
    text-shadow: 0 0 2px white;
    font-weight: 350;
}

#PurpleBackground1 {
    background-color: #812165;
    position: relative;
    top: -4px;
}

#footerH1:nth-child(2) {
    color: white;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -650px;
    left: -370px;
    text-shadow: 0 0 2px white;
}

.EndBtns .FirstBtns2 button:nth-child(2) {
    border: 1px solid white;
    border-radius: 20px;
    padding: 18px;
    background-color: transparent;
    color: white;
    position: relative;
    left: 340px;
    top: 60px;
    transition: 0.3s;
}

.Submit1 {
    border: none;
    background-color: #ff5b00;
    padding: 13px;
    width: 240px;
    border-radius: 10px;
    color: rgb(243, 243, 243);
    font-weight: 700;
    transition: 0.3s;
}

#GiantMove10 {
    position: relative;
    top: -2873px;
}

#GigachadMove999 {
    position: relative;
    top: 350px;
}